<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1>about</h1>
    <p>Translate YouTube videos into your preferred language.</p>
</body>
</html>