<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1>YouTube Video Player</h1>
    <p><a href="/search">Back to Search</a></p>
</body>
</html>
