<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
<head>
    <link rel="stylesheet" type="text/css" href="./assets/styles/signup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <%- include('partials/nav') %>
    <h1>Signup</h1>
    <form >
        <div>
            <label for="email">Email</label>
            <input  type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input  type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input  type="password" name="password2" id="password2" required>
        </div>
        <button class="odd" type="submit">Register</button>
    </form>
    <p>Already have an account? <button id="login">Login</button></p>
    <script src="./js/signup.js"></script>
</body>